body {
    background-image: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
    background-attachment: fixed; 
    background-size: cover; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

nav {
    background-color: rgba(25, 25, 30, 0.9); /* Fondo oscuro azul profundo */
    padding: 15px 20px; /* Espaciado alrededor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    position: relative; /* Para posicionar elementos */
    z-index: 1000; /* Asegura que la navbar esté sobre otros elementos */
}

nav ul {
    list-style: none; /* Sin viñetas */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margin */
    display: flex; /* Muestra los elementos en línea */
    justify-content: space-between; /* Espacio entre elementos */
}

nav li {
    margin: 0 15px; /* Espacio entre los elementos de la lista */
}

nav a, #username {
    text-decoration: none; /* Sin subrayado */
    color: #ecf0f1; /* Color claro para el texto */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s; /* Transición suave para el color */
}

nav a:hover, #username:hover {
    color: #1abc9c; /* Color claro al pasar el mouse */
}

#logout-button {
    display: none; /* Oculto por defecto */
}

